
&usart2 {
	current-speed = <230400>;
	interrupt-parent = <&intc>;
	interrupts = <HC32_UART2_RXERR_IRQ_NUM   HC32_UART2_RXERR_IRQ_PRIO   INT_SRC_USART4_EI>,
				 <HC32_UART2_RX_IRQ_NUM      HC32_UART2_RX_IRQ_PRIO      INT_SRC_USART4_RI>,
				 <HC32_UART2_TX_IRQ_NUM      HC32_UART2_TX_IRQ_PRIO      INT_SRC_USART4_TI>,
				 <HC32_UART2_TX_CPLT_IRQ_NUM HC32_UART2_TX_CPLT_IRQ_PRIO INT_SRC_USART4_TCI>,
				 <HC32_UART2_RXTO_IRQ_NUM    HC32_UART2_RXTO_IRQ_PRIO    INT_SRC_USART4_RTO>;
	interrupt-names = "ei", "ri", "ti", "tci", "rto";
	dma-tx = <(HC32_DT_DMA_UNIT(DMA2) | HC32_DT_DMA_CH(2) | HC32_DT_DMA_SLOT(EVT_SRC_USART2_TI))>;
	dma-rx = <(HC32_DT_DMA_UNIT(DMA1) | HC32_DT_DMA_CH(1) | HC32_DT_DMA_SLOT(EVT_SRC_USART2_RI))>;
	status = "ok";
};

// &usart4 {
// 	dma-tx =  <(HC32_DT_DMA_UNIT(DMA1) | HC32_DT_DMA_CH(2) | HC32_DT_DMA_SLOT(EVT_SRC_USART4_TCI))>;
// 	dma-rx = <(HC32_DT_DMA_UNIT(DMA1) | HC32_DT_DMA_CH(1) | HC32_DT_DMA_SLOT(EVT_SRC_USART4_RI))>;
// };

&dma1 {
	status = "ok";
};

&dma2 {
	status = "ok";
};
