# Kconfig - HC32F460_EVB board configuration
# Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_HC32F4A0_EVB

config BOARD
	default "hc32f4a0_evb"

endif # BOARD_HC32F4A0_EVB
