# Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.
#
# SPDX-License-Identifier: Apache-2.0

config INTC_HC32
	bool "Interrupt/Event Controller (INTC) Driver for HC32 family of MCUs"
	default y
	depends on DT_HAS_XHSC_HC32_INTC_ENABLED
	select HC32_LL_INTERRUPTS
	select HC32_LL_INTERRUPTS_SHARE
	help
	  Enable INTC driver for HC32 line of MCUs
