# Kconfig - ADC configuration options

# Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.

config ADC_HC32
	bool "xhsc ADC driver"
	default y
	select HC32_LL_ADC
	depends on SOC_FAMILY_HC32
	select DMA if ADC_ASYNC
	help
	  Enable support for xhsc ADC driver for HC32 MCU series.

if ADC_HC32

config ADC_HC32_INTERRUPT
	bool "HC32 ADC shared interrupts"
	default y
	depends on ADC_HC32
	help
	Enable the use of shared interrupts

config ADC0
	bool "Enable HC32 ADC1"
	help
	  This config just for cheat compiler.

config ADC1
	bool "Enable HC32 ADC1"
	help
	  This config just for cheat compiler.

config ADC2
	bool "Enable HC32 ADC2"
	help
	  This config just for cheat compiler.

endif # ADC_HC32
