# Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.
#
# SPDX-License-Identifier: Apache-2.0

config COUNTER_TIMER_HC32
	bool "HC32 counter driver"
	default n
	depends on DT_HAS_XHSC_HC32_COUNTER_ENABLED
	select HC32_LL_TMR4
	select HC32_LL_TMR6
	select HC32_LL_TMRA
	select RESET
	help
	  Enable the counter driver for HC32 family of processors.
