#
# Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig COUNTER_RTC_HC32
	bool "HC32 Counter RTC driver"
	depends on SOC_FAMILY_HC32
	select HC32_LL_RTC
	select NEWLIB_LIBC
	help
	  Build Counter RTC driver for HC32 SoCs.


if COUNTER_RTC_HC32

config COUNTER_RTC_HC32_SAVE_VALUE_BETWEEN_RESETS
	bool "Save rtc time value between resets"
	default n
	help
	  Keep the counter value after each reset.

config RTC_PRESCALER
	int "rtc prescaler"
	default 32768
	help
	  rtc prescaler.

endif # COUNTER_RTC_HC32
