# Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig PINMUX_HC32
	bool "HC32 Pin multiplexer driver"
	depends on SOC_SERIES_HC32F4
	help
	  Enable driver for hc32f4 series Pin multiplexer.
