/*
 * Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/hc32f460-intc.h>
#include <dt-bindings/clock/hc32f4_clock.h>
#include <dt-bindings/timer/hc32-timer.h>
#include <dt-bindings/dma/hc32_dma.h>

/{
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	flash-controller@40010400 {
		compatible = "xhsc,hc32_flash";
		label = "FLASH_CTRL";
		reg = <0x40010400 0x01b0>;
		#address-cells = <1>;
		#size-cells = <1>;

		flash0: flash@0 {
			compatible = "soc-nv-flash";
			label = "FLASH_HC32";
			reg = <0 0x80000>;
			erase-block-size = <8192>;
			write-block-size = <4>;
		};
	};

/* The on-chip SRAM is split into SRAM0 and SRAMH regions that form a
	 * contiguous block in the memory map, however misaligned accesses
	 * across the 0x2000_0000 boundary are not supported in the Arm
	 * Cortex-M4 architecture.*/
	sramH: memory@1fff8000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x1fff8000 0x8000>;
	};

	sram0: memory@20000000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x20000000 0x27000>;
	};

	sramB: memory@200F0000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x200F0000 0x1000>;
	};

	soc {
		clocks: clk_sys@40048400{
			clocks-controller;
			#address-cells = <1>;
			reg = < 0x40048400 DT_SIZE_K(1) >;
			#size-cells = <1>;

			bus_fcg: pwc_fcg@40048000 {
				compatible = "xhsc,hc32-bus-fcg";
				#clock-cells = <3>;
				reg = < 0x40048000 DT_SIZE_K(1) >;
				status = "ok";
			};
		};

		gpioa: gpio@40053c00 {
			compatible = "xhsc,hc32-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x40053c00 0x40>;
			label = "GPIOA";
		};

		gpiob: gpio@40053c40 {
			compatible = "xhsc,hc32-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x40053c40 0x40>;
			label = "GPIOB";
		};

		gpioc: gpio@40053c80 {
			compatible = "xhsc,hc32-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x40053c80 0x40>;
			label = "GPIOC";
		};

		gpiod: gpio@40053cc0 {
			compatible = "xhsc,hc32-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x40053cc0 0x40>;
			label = "GPIOD";
		};

		gpioe: gpio@40053d00 {
			compatible = "xhsc,hc32-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x40053d00 0x40>;
			label = "GPIOE";
		};

		gpioh: gpio@40053d40 {
			compatible = "xhsc,hc32-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x40053d40 0x40>;
			label = "GPIOH";
		};

		intc: interrupt-controller@40051000 {
			compatible = "xhsc,hc32-intc";
			reg = <0x40051000 0x800>;
			interrupt-controller;
			#interrupt-cells = <3>;
			label = "INTC";
			status = "ok";
		};

		extint: interrupt-controller@40051800{
			compatible = "xhsc,hc32-extint";
			reg = <0x40051800 0x800>;
			interrupt-parent = <&intc>;
			label = "EXTINT";
			extint-nums = <16>;
			extint-chs = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15>;
			interrupts = <HC32_EXTINT0_IRQ_NUM  HC32_EXTINT0_IRQ_PRIO  INT_SRC_PORT_EIRQ0>,
						 <HC32_EXTINT1_IRQ_NUM  HC32_EXTINT1_IRQ_PRIO  INT_SRC_PORT_EIRQ1>,
						 <HC32_EXTINT2_IRQ_NUM  HC32_EXTINT2_IRQ_PRIO  INT_SRC_PORT_EIRQ2>,
						 <HC32_EXTINT3_IRQ_NUM  HC32_EXTINT3_IRQ_PRIO  INT_SRC_PORT_EIRQ3>,
						 <HC32_EXTINT4_IRQ_NUM  HC32_EXTINT4_IRQ_PRIO  INT_SRC_PORT_EIRQ4>,
						 <HC32_EXTINT5_IRQ_NUM  HC32_EXTINT5_IRQ_PRIO  INT_SRC_PORT_EIRQ5>,
						 <HC32_EXTINT6_IRQ_NUM  HC32_EXTINT6_IRQ_PRIO  INT_SRC_PORT_EIRQ6>,
						 <HC32_EXTINT7_IRQ_NUM  HC32_EXTINT7_IRQ_PRIO  INT_SRC_PORT_EIRQ7>,
						 <HC32_EXTINT8_IRQ_NUM  HC32_EXTINT8_IRQ_PRIO  INT_SRC_PORT_EIRQ8>,
						 <HC32_EXTINT9_IRQ_NUM  HC32_EXTINT9_IRQ_PRIO  INT_SRC_PORT_EIRQ9>,
						 <HC32_EXTINT10_IRQ_NUM HC32_EXTINT10_IRQ_PRIO INT_SRC_PORT_EIRQ10>,
						 <HC32_EXTINT11_IRQ_NUM HC32_EXTINT11_IRQ_PRIO INT_SRC_PORT_EIRQ11>,
						 <HC32_EXTINT12_IRQ_NUM HC32_EXTINT12_IRQ_PRIO INT_SRC_PORT_EIRQ12>,
						 <HC32_EXTINT13_IRQ_NUM HC32_EXTINT13_IRQ_PRIO INT_SRC_PORT_EIRQ13>,
						 <HC32_EXTINT14_IRQ_NUM HC32_EXTINT14_IRQ_PRIO INT_SRC_PORT_EIRQ14>,
						 <HC32_EXTINT15_IRQ_NUM HC32_EXTINT15_IRQ_PRIO INT_SRC_PORT_EIRQ15>;
			interrupt-names = "extint0",  "extint1",  "extint2",  "extint3",
							  "extint4",  "extint5",  "extint6",  "extint7",
							  "extint8",  "extint9",  "extint10", "extint11",
							  "extint12", "extint13", "extint14", "extint15";
			status = "ok";
		};

		dma1: dma@40053000 {
			compatible = "xhsc,hc32-dma";
			reg = <0x40053000 0x400>;
			label = "DMA_1";
			interrupt-parent = <&intc>;
			interrupts = <HC32_DMA1_CH0_IRQ_NUM HC32_DMA1_CH0_IRQ_PRIO INT_SRC_DMA1_TC0>,
						 <HC32_DMA1_CH1_IRQ_NUM HC32_DMA1_CH1_IRQ_PRIO INT_SRC_DMA1_TC1>,
						 <HC32_DMA1_CH2_IRQ_NUM HC32_DMA1_CH2_IRQ_PRIO INT_SRC_DMA1_TC2>,
						 <HC32_DMA1_CH3_IRQ_NUM HC32_DMA1_CH3_IRQ_PRIO INT_SRC_DMA1_TC3>,
						 <HC32_DMA1_ERR_IRQ_NUM HC32_DMA1_ERR_IRQ_PRIO INT_SRC_DMA1_ERR>;
			interrupt-names = "tc0", "tc1", "tc2", "tc3", "err";
			dma-channels = <4>;
			clocks = <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_DMA1>,
					 <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_AOS>;
			status = "disabled";
		};

		dma2: dma@40053400 {
			compatible = "xhsc,hc32-dma";
			reg = <0x40053400 0x400>;
			label = "DMA_2";
			interrupt-parent = <&intc>;
			interrupts = <HC32_DMA2_CH0_IRQ_NUM HC32_DMA2_CH0_IRQ_PRIO INT_SRC_DMA2_TC0>,
						 <HC32_DMA2_CH1_IRQ_NUM HC32_DMA2_CH1_IRQ_PRIO INT_SRC_DMA2_TC1>,
						 <HC32_DMA2_CH2_IRQ_NUM HC32_DMA2_CH2_IRQ_PRIO INT_SRC_DMA2_TC2>,
						 <HC32_DMA2_CH3_IRQ_NUM HC32_DMA2_CH3_IRQ_PRIO INT_SRC_DMA2_TC3>,
						 <HC32_DMA2_ERR_IRQ_NUM HC32_DMA2_ERR_IRQ_PRIO INT_SRC_DMA2_ERR>;
			interrupt-names = "tc0", "tc1", "tc2", "tc3", "err";
			dma-channels = <4>;
			clocks = <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_DMA2>,
					 <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_AOS>;
			status = "disabled";
		};

		usart1: serial@4001d000 {
			compatible = "xhsc,hc32-usart";
			reg = <0x4001d000 0x400>;
			status = "disabled";
			label = "USART_1";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_USART1>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_UART1_RXERR_IRQ_NUM   HC32_UART1_RXERR_IRQ_PRIO   INT_SRC_USART4_EI>,
						 <HC32_UART1_RX_IRQ_NUM      HC32_UART1_RX_IRQ_PRIO      INT_SRC_USART4_RI>,
						 <HC32_UART1_TX_IRQ_NUM      HC32_UART1_TX_IRQ_PRIO      INT_SRC_USART4_TI>,
						 <HC32_UART1_TX_CPLT_IRQ_NUM HC32_UART1_TX_CPLT_IRQ_PRIO INT_SRC_USART4_TCI>,
						 <HC32_UART1_RXTO_IRQ_NUM    HC32_UART1_RXTO_IRQ_PRIO    INT_SRC_USART4_RTO>;
			interrupt-names = "ei", "ri", "ti", "tci", "rto";

		};

		usart2: serial@4001d400 {
			compatible = "xhsc,hc32-usart";
			reg = <0x4001d400 0x400>;
			status = "disabled";
			label = "USART_2";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_USART2>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_UART2_RXERR_IRQ_NUM   HC32_UART2_RXERR_IRQ_PRIO   INT_SRC_USART4_EI>,
						 <HC32_UART2_RX_IRQ_NUM      HC32_UART2_RX_IRQ_PRIO      INT_SRC_USART4_RI>,
						 <HC32_UART2_TX_IRQ_NUM      HC32_UART2_TX_IRQ_PRIO      INT_SRC_USART4_TI>,
						 <HC32_UART2_TX_CPLT_IRQ_NUM HC32_UART2_TX_CPLT_IRQ_PRIO INT_SRC_USART4_TCI>,
						 <HC32_UART2_RXTO_IRQ_NUM    HC32_UART2_RXTO_IRQ_PRIO    INT_SRC_USART4_RTO>;
			interrupt-names = "ei", "ri", "ti", "tci", "rto";

		};
		usart3: serial@40021000 {
			compatible = "xhsc,hc32-usart";
			reg = <0x40021000 0x400>;
			status = "disabled";
			label = "USART_3";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_USART3>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_UART3_RXERR_IRQ_NUM   HC32_UART3_RXERR_IRQ_PRIO   INT_SRC_USART4_EI>,
						 <HC32_UART3_RX_IRQ_NUM      HC32_UART3_RX_IRQ_PRIO      INT_SRC_USART4_RI>,
						 <HC32_UART3_TX_IRQ_NUM      HC32_UART3_TX_IRQ_PRIO      INT_SRC_USART4_TI>,
						 <HC32_UART3_TX_CPLT_IRQ_NUM HC32_UART3_TX_CPLT_IRQ_PRIO INT_SRC_USART4_TCI>,
						 <HC32_UART3_RXTO_IRQ_NUM    HC32_UART3_RXTO_IRQ_PRIO    INT_SRC_USART4_RTO>;
			interrupt-names = "ei", "ri", "ti", "tci", "rto";

		};
		usart4: serial@40021400 {
			compatible = "xhsc,hc32-usart";
			reg = <0x40021400 0x400>;
			status = "disabled";
			label = "USART_4";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_USART4>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_UART4_RXERR_IRQ_NUM   HC32_UART4_RXERR_IRQ_PRIO   INT_SRC_USART4_EI>,
						 <HC32_UART4_RX_IRQ_NUM      HC32_UART4_RX_IRQ_PRIO      INT_SRC_USART4_RI>,
						 <HC32_UART4_TX_IRQ_NUM      HC32_UART4_TX_IRQ_PRIO      INT_SRC_USART4_TI>,
						 <HC32_UART4_TX_CPLT_IRQ_NUM HC32_UART4_TX_CPLT_IRQ_PRIO INT_SRC_USART4_TCI>,
						 <HC32_UART4_RXTO_IRQ_NUM    HC32_UART4_RXTO_IRQ_PRIO    INT_SRC_USART4_RTO>;
			interrupt-names = "ei", "ri", "ti", "tci", "rto";
		};

		spi1: spi@4001c000 {
			compatible = "xhsc,hc32-spi";
			reg = <0x4001c000 0x400>;
			label = "SPI_1";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_SPI1>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_SPI1_ERR_IRQ_NUM HC32_SPI1_ERR_IRQ_PRIO INT_SRC_SPI1_SPEI>,
						 <HC32_SPI1_RBF_IRQ_NUM HC32_SPI1_RBF_IRQ_PRIO INT_SRC_SPI1_SPRI>,
						 <HC32_SPI1_TBE_IRQ_NUM HC32_SPI1_TBE_IRQ_PRIO INT_SRC_SPI1_SPTI>;
			interrupt-names = "err", "spri", "spti";
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
		};

		spi2: spi@4001c400 {
			compatible = "xhsc,hc32-spi";
			reg = <0x4001c400 0x400>;
			label = "SPI_2";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_SPI2>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_SPI2_ERR_IRQ_NUM HC32_SPI2_ERR_IRQ_PRIO INT_SRC_SPI2_SPEI>,
						 <HC32_SPI2_RBF_IRQ_NUM HC32_SPI2_RBF_IRQ_PRIO INT_SRC_SPI2_SPRI>,
						 <HC32_SPI2_TBE_IRQ_NUM HC32_SPI2_TBE_IRQ_PRIO INT_SRC_SPI2_SPTI>;
			interrupt-names = "err", "spri", "spti";
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
		};

		spi3: spi@40020000 {
			compatible = "xhsc,hc32-spi";
			reg = <0x40020000 0x400>;
			label = "SPI_3";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_SPI3>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_SPI3_ERR_IRQ_NUM HC32_SPI3_ERR_IRQ_PRIO INT_SRC_SPI3_SPEI>,
						 <HC32_SPI3_RBF_IRQ_NUM HC32_SPI3_RBF_IRQ_PRIO INT_SRC_SPI3_SPRI>,
						 <HC32_SPI3_TBE_IRQ_NUM HC32_SPI3_TBE_IRQ_PRIO INT_SRC_SPI3_SPTI>;
			interrupt-names = "err", "spri", "spti";
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
		};

		spi4: spi@40020400 {
			compatible = "xhsc,hc32-spi";
			reg = <0x40020400 0x400>;
			label = "SPI_4";
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG1 HC32_FCG1_PERIPH_SPI4>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_SPI4_ERR_IRQ_NUM HC32_SPI4_ERR_IRQ_PRIO INT_SRC_SPI4_SPEI>,
						 <HC32_SPI4_RBF_IRQ_NUM HC32_SPI4_RBF_IRQ_PRIO INT_SRC_SPI4_SPRI>,
						 <HC32_SPI4_TBE_IRQ_NUM HC32_SPI4_TBE_IRQ_PRIO INT_SRC_SPI4_SPTI>;
			interrupt-names = "err", "spri", "spti";
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
		};

		qspi: qspi@9c000000 {
			compatible = "xhsc,hc32-qspi";
			reg = <0x9c000000 0x808>;
			label = "QSPI";
			clocks = <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG1 HC32_FCG1_PERIPH_QSPI>;
			status = "disabled";
		};

		i2c1: i2c1@4004e000 {
			compatible = "xhsc,hc32-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x4004e000 DT_SIZE_K(1)>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK3 HC32_CLK_FCG1
								HC32_FCG1_PERIPH_I2C1>;
			int-nums = <4>;
			interrupt-parent = <&intc>;
			interrupts = < HC32_I2C1_EE_IRQ_NUM HC32_I2C1_EE_IRQ_PRIO INT_SRC_I2C1_EEI>,
						 < HC32_I2C1_TE_IRQ_NUM HC32_I2C1_TE_IRQ_PRIO INT_SRC_I2C1_TEI>,
						 < HC32_I2C1_TX_IRQ_NUM HC32_I2C1_TX_IRQ_PRIO INT_SRC_I2C1_TXI>,
						 < HC32_I2C1_RX_IRQ_NUM HC32_I2C1_RX_IRQ_PRIO INT_SRC_I2C1_RXI>;
			interrupt-names = "eei", "tei", "txi", "rxi";
			label = "I2C1";
			status = "disabled";
		};

		i2c2: i2c2@4004e400 {
			compatible = "xhsc,hc32-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x4004e400 DT_SIZE_K(1)>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK3 HC32_CLK_FCG1
								HC32_FCG1_PERIPH_I2C2>;
			int-nums = <4>;
			interrupt-parent = <&intc>;
			interrupts = < HC32_I2C2_EE_IRQ_NUM HC32_I2C2_EE_IRQ_PRIO INT_SRC_I2C2_EEI>,
						 < HC32_I2C2_TE_IRQ_NUM HC32_I2C2_TE_IRQ_PRIO INT_SRC_I2C2_TEI>,
						 < HC32_I2C2_TX_IRQ_NUM HC32_I2C2_TX_IRQ_PRIO INT_SRC_I2C2_TXI>,
						 < HC32_I2C2_RX_IRQ_NUM HC32_I2C2_RX_IRQ_PRIO INT_SRC_I2C2_RXI>;
			interrupt-names = "eei", "tei", "txi", "rxi";
			label = "I2C2";
			status = "disabled";
		};

		i2c3: i2c3@4004e800 {
			compatible = "xhsc,hc32-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x4004e800 DT_SIZE_K(1)>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK3 HC32_CLK_FCG1
								HC32_FCG1_PERIPH_I2C3>;
			int-nums = <4>;
			interrupt-parent = <&intc>;
			interrupts = < HC32_I2C3_EE_IRQ_NUM HC32_I2C3_EE_IRQ_PRIO INT_SRC_I2C3_EEI>,
						 < HC32_I2C3_TE_IRQ_NUM HC32_I2C3_TE_IRQ_PRIO INT_SRC_I2C3_TEI>,
						 < HC32_I2C3_TX_IRQ_NUM HC32_I2C3_TX_IRQ_PRIO INT_SRC_I2C3_TXI>,
						 < HC32_I2C3_RX_IRQ_NUM HC32_I2C3_RX_IRQ_PRIO INT_SRC_I2C3_RXI>;
			interrupt-names = "eei", "tei", "txi", "rxi";
			label = "I2C3";
			status = "disabled";
		};

		wdt: watchdog@40049000 {
			compatible = "xhsc,hc32-watchdog";
			reg = <0x40049000 0x400>;
			status = "disabled";
			label = "WDT";
		};

		timera1: timer@40015000 {
			compatible = "xhsc,hc32-timera";
			reg = <0x40015000 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG2 HC32_FCG2_PERIPH_TMRA_1>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_TMRA1_OVF_IRQ_NUM HC32_TMRA1_OVF_IRQ_PRIO INT_SRC_TMRA_1_OVF>,
						 <HC32_TMRA1_UDF_IRQ_NUM HC32_TMRA1_UDF_IRQ_PRIO INT_SRC_TMRA_1_UDF>,
						 <HC32_TMRA1_CMP_IRQ_NUM HC32_TMRA1_CMP_IRQ_PRIO INT_SRC_TMRA_1_CMP>;
			interrupt-names = "ovf", "udf", "cmp";
			clock-division = <HC32_TMR_CNT_CLK_DIV1>;
			count-mode = <HC32_TMR_CNT_MD_SAWTOOTH>;
			count-direction = <HC32_TMR_CNT_DIR_UP>;
			status = "disabled";
			label = "TMRA_1";

			counter {
				compatible = "xhsc,hc32-timera-counter";
				ch-nums = <8>;
				status = "disabled";
				label = "TMRA_1_COUNTER";
			};

			pwm {
				compatible = "xhsc,hc32-timera-pwm";
				status = "disabled";
				addr = <0x40015000>;
				#pwm-cells = <2>;
				label = "TMRA_1_PWM";
			};
		};

		timera2: timer@40015400 {
			compatible = "xhsc,hc32-timera";
			reg = <0x40015400 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG2 HC32_FCG2_PERIPH_TMRA_2>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_TMRA2_OVF_IRQ_NUM HC32_TMRA2_OVF_IRQ_PRIO INT_SRC_TMRA_2_OVF>,
						 <HC32_TMRA2_UDF_IRQ_NUM HC32_TMRA2_UDF_IRQ_PRIO INT_SRC_TMRA_2_UDF>,
						 <HC32_TMRA2_CMP_IRQ_NUM HC32_TMRA2_CMP_IRQ_PRIO INT_SRC_TMRA_2_CMP>;
			interrupt-names = "ovf", "udf", "cmp";
			clock-division = <HC32_TMR_CNT_CLK_DIV1>;
			count-mode = <HC32_TMR_CNT_MD_SAWTOOTH>;
			count-direction = <HC32_TMR_CNT_DIR_UP>;
			status = "disabled";
			label = "TMRA_2";

			counter {
				compatible = "xhsc,hc32-timera-counter";
				ch-nums = <8>;
				status = "disabled";
				label = "TMRA_2_COUNTER";
			};

			pwm{
				compatible = "xhsc,hc32-timera-pwm";
				addr = <0x40015400>;
				status = "disabled";
				#pwm-cells = <2>;
				label = "TMRA_2_PWM";
			};
		};

		timera3: timer@40015800 {
			compatible = "xhsc,hc32-timera";
			reg = <0x40015800 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG2 HC32_FCG2_PERIPH_TMRA_3>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_TMRA3_OVF_IRQ_NUM HC32_TMRA3_OVF_IRQ_PRIO INT_SRC_TMRA_3_OVF>,
						 <HC32_TMRA3_UDF_IRQ_NUM HC32_TMRA3_UDF_IRQ_PRIO INT_SRC_TMRA_3_UDF>,
						 <HC32_TMRA3_CMP_IRQ_NUM HC32_TMRA3_CMP_IRQ_PRIO INT_SRC_TMRA_3_CMP>;
			interrupt-names = "ovf", "udf", "cmp";
			clock-division = <HC32_TMR_CNT_CLK_DIV1>;
			count-mode = <HC32_TMR_CNT_MD_SAWTOOTH>;
			count-direction = <HC32_TMR_CNT_DIR_UP>;
			status = "disabled";
			label = "TMRA_3";

			counter {
				compatible = "xhsc,hc32-timera-counter";
				ch-nums = <8>;
				status = "disabled";
				label = "TMRA_3_COUNTER";
			};

			pwm {
				compatible = "xhsc,hc32-timera-pwm";
				status = "disabled";
				addr = <0x40015800>;
				#pwm-cells = <2>;
				label = "TMRA_3_PWM";
			};
		};

		timera4: timer@40015c00 {
			compatible = "xhsc,hc32-timera";
			reg = <0x40015c00 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG2 HC32_FCG2_PERIPH_TMRA_4>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_TMRA4_OVF_IRQ_NUM HC32_TMRA4_OVF_IRQ_PRIO INT_SRC_TMRA_4_OVF>,
						 <HC32_TMRA4_UDF_IRQ_NUM HC32_TMRA4_UDF_IRQ_PRIO INT_SRC_TMRA_4_UDF>,
						 <HC32_TMRA4_CMP_IRQ_NUM HC32_TMRA4_CMP_IRQ_PRIO INT_SRC_TMRA_4_CMP>;
			interrupt-names = "ovf", "udf", "cmp";
			clock-division = <HC32_TMR_CNT_CLK_DIV1>;
			count-mode = <HC32_TMR_CNT_MD_SAWTOOTH>;
			count-direction = <HC32_TMR_CNT_DIR_UP>;
			status = "disabled";
			label = "TMRA_4";

			counter {
				compatible = "xhsc,hc32-timera-counter";
				ch-nums = <8>;
				status = "disabled";
				label = "TMRA_4_COUNTER";
			};

			pwm {
				compatible = "xhsc,hc32-timera-pwm";
				status = "disabled";
				addr = <0x40015c00>;
				#pwm-cells = <2>;
				label = "TMRA_4_PWM";
			};
		};

		timera5: timer@40016000 {
			compatible = "xhsc,hc32-timera";
			reg = <0x40016000 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG2 HC32_FCG2_PERIPH_TMRA_5>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_TMRA5_OVF_IRQ_NUM HC32_TMRA5_OVF_IRQ_PRIO INT_SRC_TMRA_5_OVF>,
						 <HC32_TMRA5_UDF_IRQ_NUM HC32_TMRA5_UDF_IRQ_PRIO INT_SRC_TMRA_5_UDF>,
						 <HC32_TMRA5_CMP_IRQ_NUM HC32_TMRA5_CMP_IRQ_PRIO INT_SRC_TMRA_5_CMP>;
			interrupt-names = "ovf", "udf", "cmp";
			clock-division = <HC32_TMR_CNT_CLK_DIV1>;
			count-mode = <HC32_TMR_CNT_MD_SAWTOOTH>;
			count-direction = <HC32_TMR_CNT_DIR_UP>;
			status = "disabled";
			label = "TMRA_5";

			counter {
				compatible = "xhsc,hc32-timera-counter";
				ch-nums = <8>;
				status = "disabled";
				label = "TMRA_5_COUNTER";
			};

			pwm {
				compatible = "xhsc,hc32-timera-pwm";
				status = "disabled";
				addr = <0x40016000>;
				#pwm-cells = <2>;
				label = "TMRA_5_PWM";
			};
		};

		timera6: timer@40016400 {
			compatible = "xhsc,hc32-timera";
			reg = <0x40016400 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK1 HC32_CLK_FCG2 HC32_FCG2_PERIPH_TMRA_6>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_TMRA6_OVF_IRQ_NUM HC32_TMRA6_OVF_IRQ_PRIO INT_SRC_TMRA_6_OVF>,
						 <HC32_TMRA6_UDF_IRQ_NUM HC32_TMRA6_UDF_IRQ_PRIO INT_SRC_TMRA_6_UDF>,
						 <HC32_TMRA6_CMP_IRQ_NUM HC32_TMRA6_CMP_IRQ_PRIO INT_SRC_TMRA_6_CMP>;
			interrupt-names = "ovf", "udf", "cmp";
			clock-division = <HC32_TMR_CNT_CLK_DIV1>;
			count-mode = <HC32_TMR_CNT_MD_SAWTOOTH>;
			count-direction = <HC32_TMR_CNT_DIR_UP>;
			status = "disabled";
			label = "TMRA_6";

			counter {
				compatible = "xhsc,hc32-timera-counter";
				ch-nums = <8>;
				status = "disabled";
				label = "TMRA_6_COUNTER";
			};

			pwm {
				compatible = "xhsc,hc32-timera-pwm";
				status = "disabled";
				addr = <0x40016400>;
				#pwm-cells = <2>;
				label = "TMRA_6_PWM";
			};
		};

		adc1: adc@40040000 {
			compatible = "xhsc,hc32-adc";
			reg = <0x40040000 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK4 HC32_CLK_FCG3 HC32_FCG3_PERIPH_ADC1>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_ADC1_EOCA_IRQ_NUM HC32_ADC1_EOCA_IRQ_PRIO INT_SRC_ADC1_EOCA>,
						 <HC32_ADC1_EOCB_IRQ_NUM HC32_ADC1_EOCB_IRQ_PRIO INT_SRC_ADC1_EOCB>;
			interrupt-names = "eoca", "eocb";
			status = "disabled";
			label = "ADC_1";
		};

		adc2: adc@40040400 {
			compatible = "xhsc,hc32-adc";
			reg = <0x40040400 0x400>;
			clocks = <&bus_fcg HC32_CLK_BUS_PCLK4 HC32_CLK_FCG3 HC32_FCG3_PERIPH_ADC2>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_ADC2_EOCA_IRQ_NUM HC32_ADC2_EOCA_IRQ_PRIO INT_SRC_ADC2_EOCA>,
						 <HC32_ADC2_EOCB_IRQ_NUM HC32_ADC2_EOCB_IRQ_PRIO INT_SRC_ADC2_EOCB>;
			interrupt-names = "eoca", "eocb";
			status = "disabled";
			label = "ADC_2";
		};

		can1: can@40070400  {
			compatible = "xhsc,hc32-can";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40070400 0x400>;
			clocks = <&bus_fcg HC32_CLK_SRC_XTAL HC32_CLK_FCG1 HC32_FCG1_PERIPH_CAN>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_CAN1_GLB_IRQ_NUM HC32_CAN1_GLB_IRQ_PRIO INT_SRC_CAN_INT>;
			interrupt-names = "glb";
			bus-speed = <500000>;
			prop_seg_phase_seg1 = <5>;
			phase_seg2 = <2>;
			sjw = <2>;
			status = "disabled";
			label = "CAN_1";
		};

		rtc: rtc@4004c000 {
			compatible = "xhsc,hc32-rtc";
			reg = <0x4004c000 0x400>;
			interrupt-parent = <&intc>;
			interrupts = <HC32_RTC_ALARM_IRQ_NUM HC32_RTC_ALARM_IRQ_PRIO INT_SRC_RTC_ALM>;
			interrupt-names = "alm";
			clock-src = <HC32_CLK_SRC_LRC>;
			prescaler = <32768>;
			status = "disabled";
			label = "RTC_0";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <4>;
};
