/*
 * Copyright (C) 2022-2024, Xiaohua Semiconductor Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/clock/hc32f4_clock.h>
#include <zephyr/dt-bindings/interrupt-controller/hc32-intc.h>
#include <zephyr/dt-bindings/dma/hc32_dma.h>
#include <zephyr/dt-bindings/dma/hc32f460_evt.h>

 / {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	flash-controller@40010400 {
		compatible = "xhsc,hc32_flash";
		reg = <0x40010400 0x01b0>;
		#address-cells = <1>;
		#size-cells = <1>;

		flash0: flash@0 {
			compatible = "soc-nv-flash";
			reg = <0 0x80000>;
			erase-block-size = <8192>;
			write-block-size = <4>;
		};
	};

/* The on-chip SRAM is split into SRAM0 and SRAMH regions that form a
	 * contiguous block in the memory map, however misaligned accesses
	 * across the 0x2000_0000 boundary are not supported in the Arm
	 * Cortex-M4 architecture.*/
/* 	sramH: memory@1fff8000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x1fff8000 DT_SIZE_K(32)>;
	};*/

	sram0: memory@1fff8000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x1fff8000 DT_SIZE_K(188)>;
			 // <0x20000000 DT_SIZE_K(156)>;
	};

	sramB: memory@200F0000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x200F0000 DT_SIZE_K(4)>;
	};

	soc {
		clocks: clock@40054000{
			#address-cells = <1>;
			#size-cells = <1>;
			reg = < 0x40054000 0x400 >;
			compatible = "xhsc,hc32-clock-control";
			clock-conf = <HC32_CLK_CONF_PERI HC32_CLK_CONF_USB
						HC32_CLK_CONF_I2S HC32_CLK_CONF_TPIU
						HC32_CLK_CONF_SRC HC32_CLK_CONF_MCO>;

			clk_xtal: clock_xtal {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = < 8000000 >;
			};

			clk_hrc: clock_hrc {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = < 16000000 >;
			};

			clk_mrc: clock_mrc {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = < 8000000 >;
			};

			clk_lrc: clock_lrc {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = < 32768 >;
			};

			clk_pll: clock_pll {
				#clock-cells = <0>;
				compatible = "xhsc,hc32-clock-pll";
				clock_frequency = <200000000>;
				clocks = <&clk_xtal>;
				div-m = <1>;
				mul-n = <50>;
				div-p = <2>;
				div-q = <2>;
				div-r = <2>;
			};

			clk_sys: clock_system {
				compatible = "xhsc,hc32-clock-sys";
				clocks = < &clk_pll >;
				div-hclk = <1>;
				div-exclk = <2>;
				div-pclk0 = <1>;
				div-pclk1 = <2>;
				div-pclk2 = <4>;
				div-pclk3 = <4>;
				div-pclk4 = <2>;
			};

			bus_fcg: pwc_fcg@40048000 {
				#clock-cells = <3>;
				compatible = "xhsc,hc32-bus-fcg";
				reg = < 0x40048000 DT_SIZE_K(1) >;
			};
		};

		pinctrl: pin-controller@40053c00 {
			compatible = "xhsc,hc32-pinctrl";
			reg = <0x40053c00 0x180>;
			#address-cells = <1>;
			#size-cells = <1>;
			status = "okay";

			gpioa: gpio@40053c00 {
				compatible = "xhsc,hc32-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40053c00 0x40>;
			};

			gpiob: gpio@40053c40 {
				compatible = "xhsc,hc32-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40053c40 0x40>;
			};

			gpioc: gpio@40053c80 {
				compatible = "xhsc,hc32-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40053c80 0x40>;
			};

			gpiod: gpio@40053cc0 {
				compatible = "xhsc,hc32-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40053cc0 0x40>;
			};

			gpioe: gpio@40053d00 {
				compatible = "xhsc,hc32-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40053d00 0x40>;
			};

			gpioh: gpio@40053d40 {
				compatible = "xhsc,hc32-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40053d40 0x40>;
			};
		};

		intc: interrupt-controller@40051000 {
			compatible = "xhsc,hc32-intc";
			#address-cells = <1>;
			interrupt-controller;
			#interrupt-cells = <2>;
			#intc-cells = <2>;
			reg = <0x40051000 0x1000>;
			extint-nums = <16>;
			interrupts = <HC32_EXTINT0_IRQ_NUM  HC32_EXTINT0_IRQ_PRIO>,
						 <HC32_EXTINT1_IRQ_NUM  HC32_EXTINT1_IRQ_PRIO>,
						 <HC32_EXTINT2_IRQ_NUM  HC32_EXTINT2_IRQ_PRIO>,
						 <HC32_EXTINT3_IRQ_NUM  HC32_EXTINT3_IRQ_PRIO>,
						 <HC32_EXTINT4_IRQ_NUM  HC32_EXTINT4_IRQ_PRIO>,
						 <HC32_EXTINT5_IRQ_NUM  HC32_EXTINT5_IRQ_PRIO>,
						 <HC32_EXTINT6_IRQ_NUM  HC32_EXTINT6_IRQ_PRIO>,
						 <HC32_EXTINT7_IRQ_NUM  HC32_EXTINT7_IRQ_PRIO>,
						 <HC32_EXTINT8_IRQ_NUM  HC32_EXTINT8_IRQ_PRIO>,
						 <HC32_EXTINT9_IRQ_NUM  HC32_EXTINT9_IRQ_PRIO>,
						 <HC32_EXTINT10_IRQ_NUM HC32_EXTINT10_IRQ_PRIO>,
						 <HC32_EXTINT11_IRQ_NUM HC32_EXTINT11_IRQ_PRIO>,
						 <HC32_EXTINT12_IRQ_NUM HC32_EXTINT12_IRQ_PRIO>,
						 <HC32_EXTINT13_IRQ_NUM HC32_EXTINT13_IRQ_PRIO>,
						 <HC32_EXTINT14_IRQ_NUM HC32_EXTINT14_IRQ_PRIO>,
						 <HC32_EXTINT15_IRQ_NUM HC32_EXTINT15_IRQ_PRIO>;
			interrupt-names = "extint0",  "extint1",  "extint2",  "extint3",
							  "extint4",  "extint5",  "extint6",  "extint7",
							  "extint8",  "extint9",  "extint10", "extint11",
							  "extint12", "extint13", "extint14", "extint15";
			int-srcs = <INT_SRC_PORT_EIRQ0  INT_SRC_PORT_EIRQ1
						INT_SRC_PORT_EIRQ2  INT_SRC_PORT_EIRQ3
						INT_SRC_PORT_EIRQ4  INT_SRC_PORT_EIRQ5
						INT_SRC_PORT_EIRQ6  INT_SRC_PORT_EIRQ7
						INT_SRC_PORT_EIRQ8  INT_SRC_PORT_EIRQ9
						INT_SRC_PORT_EIRQ10 INT_SRC_PORT_EIRQ11
						INT_SRC_PORT_EIRQ12 INT_SRC_PORT_EIRQ13
						INT_SRC_PORT_EIRQ14 INT_SRC_PORT_EIRQ15>;
			extint-chs = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15>;
			status = "okay";
		};

		dma1: dma@40053000 {
			compatible = "xhsc,hc32-dma";
			#dma-cells = <3>;
			reg = <0x40053000 0x400>;
			interrupts = <HC32_DMA1_CH0_IRQ_NUM HC32_DMA1_CH0_IRQ_PRIO>,
						 <HC32_DMA1_CH1_IRQ_NUM HC32_DMA1_CH1_IRQ_PRIO>,
						 <HC32_DMA1_CH2_IRQ_NUM HC32_DMA1_CH2_IRQ_PRIO>,
						 <HC32_DMA1_CH3_IRQ_NUM HC32_DMA1_CH3_IRQ_PRIO>,
						 <HC32_DMA1_ERR_IRQ_NUM HC32_DMA1_ERR_IRQ_PRIO>;
			interrupt-names = "TC0", "TC1", "TC2", "TC3", "ERR";
			intcs = <&intc HC32_DMA1_CH0_IRQ_NUM INT_SRC_DMA1_TC0>,
					<&intc HC32_DMA1_CH1_IRQ_NUM INT_SRC_DMA1_TC1>,
					<&intc HC32_DMA1_CH2_IRQ_NUM INT_SRC_DMA1_TC2>,
					<&intc HC32_DMA1_CH3_IRQ_NUM INT_SRC_DMA1_TC3>,
					<&intc HC32_DMA1_ERR_IRQ_NUM INT_SRC_DMA1_ERR>;
			dma-channels = <4>;
			clocks = <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_AOS>,
					 <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_DMA1>;
			status = "disabled";
		};

		dma2: dma@40053400 {
			compatible = "xhsc,hc32-dma";
			#dma-cells = <3>;
			reg = <0x40053400 0x400>;
			interrupts = <HC32_DMA2_CH0_IRQ_NUM HC32_DMA2_CH0_IRQ_PRIO>,
						 <HC32_DMA2_CH1_IRQ_NUM HC32_DMA2_CH1_IRQ_PRIO>,
						 <HC32_DMA2_CH2_IRQ_NUM HC32_DMA2_CH2_IRQ_PRIO>,
						 <HC32_DMA2_CH3_IRQ_NUM HC32_DMA2_CH3_IRQ_PRIO>,
						 <HC32_DMA2_ERR_IRQ_NUM HC32_DMA2_ERR_IRQ_PRIO>;
			interrupt-names = "TC0", "TC1", "TC2", "TC3", "ERR";
			intcs = <&intc HC32_DMA2_CH0_IRQ_NUM INT_SRC_DMA2_TC0>,
					<&intc HC32_DMA2_CH1_IRQ_NUM INT_SRC_DMA2_TC1>,
					<&intc HC32_DMA2_CH2_IRQ_NUM INT_SRC_DMA2_TC2>,
					<&intc HC32_DMA2_CH3_IRQ_NUM INT_SRC_DMA2_TC3>,
					<&intc HC32_DMA2_ERR_IRQ_NUM INT_SRC_DMA2_ERR>;
			dma-channels = <4>;
			clocks = <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_AOS>,
					 <&bus_fcg HC32_CLK_BUS_HCLK HC32_CLK_FCG0 HC32_FCG0_PERIPH_DMA2>;
			status = "disabled";
		};

		usart1: serial@4001d000 {
			compatible = "xhsc,hc32-uart";
			reg = <0x4001d000 0x400>;
			interrupts = <5 0>, <6 0>, <7 0>, <8 0>, <9 0>;
            interrupt-names = "ei", "ri", "TI", "TCI", "RTO";
			enintsrc = <278>, <279>, <280>, <281>, <283>;
            status = "disabled";
		};
        usart2: serial@4001d400 {
			compatible = "xhsc,hc32-uart";
			reg = <0x4001d400 0x400>;
			interrupts = <5 0>, <6 0>, <7 0>, <8 0>, <9 0>;
            interrupt-names = "ei", "ri", "TI", "TCI", "RTO";
            enintsrc = <283>, <284>, <285>, <286>, <287>;
			status = "disabled";
		};
        usart3: serial@40021000 {
			compatible = "xhsc,hc32-uart";
			reg = <0x40021000 0x400>;
			interrupts = <5 0>, <6 0>, <7 0>, <8 0>, <9 0>;
			interrupt-names = "ei", "ri", "TI", "TCI", "RTO";
            enintsrc = <288>, <289>, <290>, <291>, <292>;
            status = "disabled";
		};
        usart4: serial@40021400 {
			compatible = "xhsc,hc32-uart";
			reg = <0x40021400 0x400>;
            interrupts = <5 0>, <6 0>, <7 0>, <8 0>, <9 0>;
            interrupt-names = "ei", "ri", "TI", "TCI", "RTO";
            enintsrc = <293>, <294>, <295>, <296>, <297>;
			status = "disabled";
		};

        wdt: watchdog@40049000 {
			compatible = "xhsc,hc32-watchdog";
			reg = <0x40049000 0x400>;
			status = "disabled";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <4>;
};
