# Kconfig.defconfig.series - XHSC HC32 all MCU lines
#
# Copyright (c) 2024, CDT
#
# SPDX-License-Identifier: Apache-2.0
#

# Here are set all the Kconfig symbols common to the whole HC32 family

if SOC_FAMILY_HC32

if SERIAL

config UART_HC32
	bool
	default y

endif #SERIAL

if I2C

config I2C_HC32
	default y

endif #I2C

endif # SOC_FAMILY_HC32
