# Kconfig.defconfig.series - XHSC HC32 all MCU lines
#
# Copyright (c) 2024, CDT
#
# SPDX-License-Identifier: Apache-2.0
#

# Here are set all the Kconfig symbols common to the whole HC32 family

if SOC_FAMILY_HC32

if SERIAL

config UART_HC32
	bool
	default y

endif #SERIAL

if GPIO

config GPIO_HC32
	bool
	default y

config GPIO_HC32_PORTA
	bool
	default y

config GPIO_HC32_PORTB
	bool
	default y

config GPIO_HC32_PORTC
	bool
	default y

endif #GPIO

if PINMUX

config PINMUX_HC32
	bool
	default n

endif #PINMUX

endif # SOC_FAMILY_HC32
